.productContainer {
  background-color: #fff;
  padding: 10px;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
  .content {
    display: flex;
  }
  .price {
    display: flex;
  }
  .priceCurrency {
    display: flex;
  }
  .button {
    display: flex;
    margin-left: 25px;
    background-color: rgb(82, 187, 82);
    align-items: center;
    .img {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
